// {
//     "plugins": [
//         "react"
//     ],
//     "parserOptions": {
//         "ecmaFeatures": {
//             "jsx": true
//         }
//     },
//     "extends": ["eslint:all", "plugin:react/all"]
// }